// Comments
// --------
#page #content #comments {

	h2.comments-title {
		font-size: rem-calc(24);
	}

	img, canvas.pixelated {
		border: inherit;
	}

	ol {
		list-style: none;
	}

	.comment-body {
		margin-bottom: 40px;
	}

	.comment-meta {
		border: 1px solid white;
		padding: 12px;
	}

	.comment-content {
		border: 6px double white;
		padding: 12px;
		margin: 10px 0;
	}
}
