// Content
// -------
#content {

	margin-top: 2rem;

	#primary {

		overflow-wrap: break-word;
		word-wrap: break-word;

		header.page-header, header.home-header {
			margin-bottom: rem-calc(60);
		}

		article.post {
			margin-bottom: rem-calc(60);
		}

		div.custom-content {
			margin-bottom: rem-calc(60);
		}

		.entry-content {
			margin-top: rem-calc(40);
		}

		.entry-meta {

			span {
				border-bottom: 3px dashed white;
				padding-bottom: 5px;
			}
		}

		.ega-form-wrapper {
			margin-top: rem-calc(100);
		}

	}
}

// Sidebar
// -------
#sidebar-wrapper {
	aside {
		border: 13px double $ega-white;
		padding: 1rem;
	}
	section {
		margin-bottom: rem-calc(20px);
	}
}


// Footer
// ------
footer.site-footer {
	margin-top: rem-calc(60);
}
