// EGA HTML Element Overrides
// --------------------------

#page {

	canvas {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}

	#content {

		img {
			border: rem-calc(12) double $ega-white;
		}

		ul {
			li {
				&:before {
					content: "\002593";
					font-size: 20px;
					left: -10px;
					position: relative;
					top: -2px;
					line-height: 2rem;
				}
			}
		}

	}

}
