// EGA Color Palette
// ------------------
$ega-black: #000000;
$ega-gray: #555555;
$ega-blue: #0000aa;
$ega-light-blue: #5555ff;
$ega-green: #00aa00;
$ega-light-green: #55ff55;
$ega-cyan: #00aaaa;
$ega-light-cyan: #55ffff;
$ega-red: #aa0000;
$ega-light-red: #ff5555;
$ega-magenta: #aa00aa;
$ega-light-magenta: #ff55ff;
$ega-brown: #aa5500;
$ega-yellow: #ffff55;
$ega-light-gray: #aaaaaa;
$ega-white: #ffffff;
